* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    background: linear-gradient(to right bottom, #0f0f0f, rgb(60, 54, 63));
    color: azure;
}


.carrusel {
    display: flex;
    justify-content: center;
}

#carouselExampleInterval{
    width: 70%;
}


.d-block {
    height: 400px;
    width: 100%;
}

.main {
    display: grid;
    place-items: center;
}

@media (max-width: 380px) {
    a.navbar-brand {
        color: white;
        visibility: hidden;
    }
}